// File: _layout.scss
// This file contains all styles related to the layout of the site.

/* VARIABLES */
$dark-blue: #022249;
$cyan: #95ffff;
$middle-blue: #55bdca;
$light-blue: #c7eef5;
$light-orange: #f07c41;
$orange: #df622c;
$dark-orange: #982604;
$black: #111;
$gray: #999;
$white: #fff;

$font-stack: helvetica, arial, sans-serif;

/* GLOBAL STYLES */
html {
}

body {
  font-family: $font-stack;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
h2 {
  font-size: 2em;
}
h4 {
  font-weight: bold;
  text-transform: uppercase;
}
a {
  color: $middle-blue;
}
p {
  line-height: 1.5;
  margin: 0.75em 0;
}
/* HEADER STYLES */
.header {
  background-color: $light-blue;
  color: $middle-blue;
}
.header-logo {
  border-radius: 10px;
  text-align: left;
}
.header-nav {
  padding: 3vh 60px 3vh 0;
  text-align: right;
}
.header-nav > li {
  margin-left: 1em;
}
.header-nav > li ~ li {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding-left: 1em;
}
.nav-links a {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-links a:hover {
  color: $dark-blue;
}
/* HERO STYLES */
.full-hero {
  background-color: #c7dbfc;
  background-size: cover;
  padding-top: 10vh;
}
.full-hero:after {
  border: 10px solid;
  border-color: #fff transparent transparent;
  bottom: 2vh;
  color: #fff;
  content: "";
  height: 0;
  font-size: 36px;
  left: 50%;
  position: absolute;
  transform: translate(-50%, 0);
  width: 0;
}
.hero-home {
  background-image: url(/images/shark.jpg);
  background-position: center top;
}
.hero-content {
  color: #fff;
  text-transform: uppercase;
}
.hero-content h5 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 7vw;
  margin-bottom: 0.25em;
}
.hero-content .social-link {
  background-color: rgba(255, 255, 255, 0.8);
  color: #557c83;
}
.hero-content .social-link:hover {
  background-color: #000;
  color: #fff;
}
.gallery-row {
  padding: 2vh 0;
}
/* FOOTER STYLES */

/* LOGO STYLES */
.text-logo {
  color: $dark-blue;
  font-size: 4vw;
  text-decoration: none;
  text-transform: uppercase;
}
.logo-ampersand {
  color: $white;
  font-size: 65%;
  vertical-align: middle;
}
.text-logo:hover,
.text-logo:active {
  color: $middle-blue;
}
.text-logo:hover > .logo-ampersand {
  // color: #dark-blue;
}
