---
title: Portfolio of Mechanical & Software Projects
---

<div class="project-directory">
  <div class="home-content">
    <h3 class="content-header">Mechanical Engineering</h3>
    <div class="directory-section">
      {% for project in site.projects %}{% if project.project-type=="mechanical"
      %}
      <div class="project-preview">{% include project-preview.html %}</div>
      {% endif %} {% endfor %}
    </div>
  </div>
  <div class="home-content">
    <h3 class="content-header">Software Development</h3>
    <div class="directory-section">
      {% for project in site.projects %}{% if project.project-type=="software"
      %}
      <div class="project-preview">{% include project-preview.html %}</div>
      {% endif %} {% endfor %}
    </div>
  </div>
</div>
