<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8" />
  <!-- <link rel="stylesheet" href=""> -->
  <link rel="icon" href="/favicon.png" />
  <link rel="stylesheet" href="/assets/main.css" />
  <link
    href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;500;800&family=Barlow:wght@300;500&family=Open+Sans&display=swap"
    rel="stylesheet"
  />
  <!-- Recaptcha -->
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <!-- Auto-update site on development -->
  <script type="text/javascript" src="http://livejs.com/live.js"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-181072020-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-181072020-1");
  </script>
  <script src="/assets/js/gallery.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      activateGallery();
    });
  </script>
</head>
