{% assign current = gallery.images[0] %}

<div class="project">
  <h2>{{ gallery.section-title }}</h2>
  <div class="col-two">
    <div class="col col-nav gallery-thumbs" id="gallery-thumbs">
      {% for image in gallery.images %}

      <figure {% if image == current %} class="current-thumb" {% endif %}>
        <img
          data-caption="{{ image.caption }}"
          src="{{ image.location }}"
          alt=""
        />
        <figcaption>{{ image.caption }}</figcaption>
      </figure>
      {% endfor %}
    </div>
    <div class="col col-content">
      <div id="gallery-photo" class="gallery-photo">
        <figure>
          <img src="{{ current.location }}" alt="" />
          <figcaption>{{ current.caption }}</figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>
