/* VARIABLES */
// color palette:
// https://coolors.co/82c0cc-ede7e3-006992-ffa62b-27233a
$dark-blue: #022249;
$cyan: #95ffff;
$middle-blue: #55bdca;
$light-blue: #c7eef5;
$light-orange: #f07c41;
$orange: #df622c;
$dark-orange: #982604;
$black: #111;
$gray: #999;
$white: rgba(255, 255, 255, 0.9);

// $bdr: 1px solid black;
$bdr: none;
$list-margin: 0 0 0 3em;
$font-stack: helvetica, arial, sans-serif;
$heading-font-stack: "Barlow Condensed", sans-serif;

$fa-font-path: "/webfonts";
